node_modules/
dist/
.idea/
.tmp/
.DS_Store
npm-debug.log
debug.log
package-lock.json
src/config.js

# cordova
cordova/node_modules/
cordova/platforms/
cordova/plugins/
cordova/www/
cordova/package-lock.json

# electron
electron/*
!electron/build.js
!electron/main.js
!electron/package.json


